:root{
    --magenta : hsl(300, 43%, 22%);
    --soft-pink : hsl(333, 80%, 67%);
    --dark-grayish-magenta : hsl(303, 10%, 53%);
    --light-grayish-magenta : hsl(300, 24%, 96%);
    --white : hsl(0, 0%, 100%);
}
*{
    box-sizing:border-box;
}
body{
    background:url(bg-pattern-top-desktop.svg);
    background-repeat:no-repeat;
    font-family: 'League Spartan', sans-serif;
    margin:0;
    background-position:top left;
    }

.social-proof{
    padding:5rem;
}
.about{
    display:flex;
    gap:1rem;
    align-items:flex-start;
    margin-bottom:3rem;
    justify-content:space-between;
}
h1{
    color:var(--magenta);
    font-size:3rem;
    line-height:1;
    font-weight:700;
}

.text{
    font-size:1rem;
    color:var(--dark-grayish-magenta);
    max-width:450px;
    line-height:1.5;
}

.review{
    display:flex;
   flex-direction:column;
   align-items:flex-start;
   
}

.user{
    background-color:var(--light-grayish-magenta);
    padding:1rem 2rem;
    margin:0.50rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border-radius:0.5rem;
 }

 .user-review2{
    margin-left: 4rem;
 }
 .user-review3{
    margin-left: 7rem;
 }
.rate{
        color:var(--magenta);
        font-weight:700;
       margin-left:1rem;
    
    }

    .reviewers{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:0.50rem;
}
 .reviewer{
        background-color:var(--magenta);
        padding:2rem;
        border-radius:0.5rem;
        display:flex;
        align-items:flex-start;
        flex-direction:column;
        max-width:28rem;
        height:auto;
        width:100%;
        gap:1.5rem;
        }
        
.reviewer2{
    margin-top:3rem;
}
.reviewer3{
    margin-top:6rem;
}
   .profile-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1.5rem;
   }
    .reviewer img{
    border-radius:50%;
}
 .info{
    display:flex;
        align-items:flex-start;
        flex-direction:column;
        justify-content:center;
 }
   .name{
    color:var(--white);
    display:inline-block;
   }
   .status{
    color:var(--soft-pink);
    display:inline-block;
   }
   .reviewer-text{
    color:var(--white);
    margin:0;
    padding:0;
    line-height: 1.5;
   }
   footer{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:3rem;
    padding:1rem;
   }
   
   @media(max-width:37.5rem){
    
    .social-proof{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1.5rem;
         width:100%;
         padding:1.5rem;
    }
    .about{
       display:flex;
       flex-direction:column;
       width:100%;
       text-align:center;
       margin-bottom:1rem;
       justify-content:center;
       align-items:center;
}
    .text{
        margin:0 auto;
    }
    .review{
        margin:0;
}
    .user{
        margin:1rem 0;
        gap:1rem;
    }
    .user-review2,.user-review3{
        gap:0.50rem;
        margin-left:0;
    }
    .reviewers{
        display:flex;
        row-gap: 1rem;
       flex-direction:column;
    }
    .reviewer{
        margin-top:2rem;
    }
    footer{
        display:flex;
        align-items:center;
        justify-content:center;
    }
   }


